<% 
form_object = [@unit, @assessment]
if @controller.action_name == 'edit'
	form_object = @assessment
end
%>
<%= form_for(form_object) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_id %><br />
    <%= f.text_field :unit_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :due_at, 'Due at (Date, Time)' %><br />
    <%= f.datetime_select :due_at, :order => [:hour, :minute, :day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :total_marks %><br />
    <%= f.text_field :total_marks %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "cancel", :back %>
  </div>
<% end %>
