<div class="trb">
	<%= link_to 'New Assessment', new_unit_assessment_path(@unit), :class => :button %>
</div>
<h1>Assessments for <%= @unit.code %></h1>

<table>
<% @assessments.each do |assessment| %>
  <tr class='separator'>
    <td>
		<strong><%= assessment.name %></strong><br />
		<%= assessment.due %><br />
		Weight: <%= assessment.weight.to_i %>% | 
		<%= assessment.total_marks.to_i %> Marks
	</td>
    <td>
		Average Result: <%= assessment.average_percentage %>%<br />
		Highest: <%= assessment.highest_percentage %>%<br />
		Lowest: <%= assessment.lowest_percentage %>%<br />
	</td>
    <td class='actions'>
		<%= link_to 'Performance', assessment_performances_path(assessment), :class => :button %>
		<%= link_to 'Edit', edit_assessment_path(assessment), :class => :button %>
		<%= link_to 'Delete', assessment, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
	</td>
  </tr>
<% end %>
</table>

<%= render :partial => 'units/sidebar' %>