<p>
  <b>Unit:</b>
  <%= @assessment.unit_id %>
</p>

<p>
  <b>Name:</b>
  <%= @assessment.name %>
</p>

<p>
  <b>Type:</b>
  <%= @assessment.type %>
</p>

<p>
  <b>Due at:</b>
  <%= @assessment.due_at %>
</p>

<p>
  <b>Total marks:</b>
  <%= @assessment.total_marks %>
</p>

<p>
  <b>Weight:</b>
  <%= @assessment.weight %>
</p>

<%= render :partial => 'units/sidebar' %>