<table>
	<% current_user.faculty_assignments.each do |f| %>
		<tr class='separator'>
			<td>
				<h2><%= f.unit.full_name %></h2>
				<ul>
					<li>Average student performance: <%= f.unit.average_percentage %>% &mdash; <%= grade_in_words(f.unit.average_percentage) %></li>
					<li>Average attendance: <%= f.unit.average_attendance_count %> / <%= f.unit.activities.count %> students</li>
				</ul>
			</td>
			<td class='actions'>
				<%= link_to 'Manage Unit', f.unit, :class => :button %>
			</td>
		</tr>
	<% end %>
</table>