<table>
		<% current_user.enrollments.each do |e| %>
			<tr class='separator'>
				<td>
					<h2><%= e.unit.full_name %></h2>
					<ul>
						<li>Performance Average: <%= e.performance_percentage.round(2) %>% &mdash; <%= grade_in_words(e.performance_percentage) %></li>
						<li>Attendance: <%= e.attendance_count %> / <%= e.unit.activities.count %> Activities</li>
						<% @enrollment = e %>
						<% if @enrollment.at_risk_events.count > 0 %>
							<% @at_risk_event = @enrollment.at_risk_events.first %>
							<li class='attention'>
								<strong>Attention:</strong> This enrollment has been deemed to be at-risk!
								<ul>
									<% @enrollment.at_risk_reasons.each do |r| %>
										<li><%= r %></li>
									<% end %>
								</ul>
							</li>
						<% elsif @enrollment.is_at_risk? %>
							<li class='warning'>
								<strong>Warning:</strong>
								<ul>
									<% @enrollment.at_risk_reasons.each do |r| %>
										<li><%= r %></li>
									<% end %>
								</ul>
							</li>
						<% end %>
					</ul>
				</td>
				<td class='actions'>
					<%= link_to 'View Enrollment', e, :class => :button %>
				</td>
			</tr>
			
		<% end %>
	</table>