<h1>Notifications and Responses</h1>

<h2>Response Pending</h2>
<table>
<% @at_risk_events.each do |at_risk_event| %>
	<% if !at_risk_event.response_received? %>
		<tr class='separator'>
			<td>
				<%= at_risk_event.enrollment.full_name %>
			</td>
			<td class='actions'>
				<%= link_to 'View Enrollment', at_risk_event.enrollment, :class => :button %>
			</td>
		</tr>
	<% end %>
<% end %>
</table>

<h2>Response Received</h2>
<table>
<% @at_risk_events.each do |at_risk_event| %>
	<% if at_risk_event.response_received? %>
		<tr class='separator'>
			<td>
				<%= at_risk_event.enrollment.full_name %>
			</td>
			<td class='actions'>
				<%= link_to 'View Enrollment', at_risk_event.enrollment, :class => :button %>
			</td>
		</tr>
	<% end %>
<% end %>
</table>

<%= render :partial => 'sidebar' %>