<h1>Send Notifications</h1>

<% @units.each do |u| %>
	<% if u.has_students_at_risk? %>
		<h2><%= link_to u.code, u %> (<%= pluralize(u.number_of_students_at_risk, "student") %>  at-risk)</h2>
		<table>
			<% u.enrollments.each do |e| %>
				<% if e.is_at_risk? %>
				<tr class='separator'>
					<td>
						<h3><%= e.user.full_name %> <%= "(notified)" if has_been_notified(e) %></h3>
						<ul>
							<% e.at_risk_reasons.each do |r| %>
								<li><%= r %></li>
							<% end %>
						</ul>
					</td>
					<td class='actions'>
						<% if has_been_notified(e) %>
							<%= link_to "View Enrollment", e, :class => :button %>
							<%= link_to 'Cancel Notification', get_at_risk_event(e), :method => :delete, :class => :button %>
						<% else %>
							<% @at_risk_event.enrollment_id = e.id %>
							<%= render 'form' %>
						<% end %>
					</td>
				</tr>
				<% end %>
			<% end %>
		</table>
	<% end %>
<% end %>

<%= render :partial => 'sidebar' %>