<div class="trb">
	<%= link_to 'New Faculty assignment', new_user_faculty_assignment_path(@user), :class => :button %>
</div>

<h1>Faculty Assignments for <%= @user.full_name %></h1>

<table>
  <tr>
    <th>Unit</th>
	<th>Date Assigned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faculty_assignments.each do |faculty_assignment| %>
  <tr>
    <td><%= faculty_assignment.unit.full_name %></td>
	<td><%= faculty_assignment.created_at.to_date %></td>
    <td class='actions'>
		<%= link_to 'View Faculty Assignment', faculty_assignment, :class => :button %>
		<%= link_to 'Delete', faculty_assignment, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
	</td>
  </tr>
<% end %>
</table>

<%= render :partial => 'users/sidebar' %>