<h1>Faculty Assignments</h1>

<%= link_to 'New Faculty assignment', new_faculty_assignment_path %>

<table>
  <tr>
    <th>User</th>
    <th>Unit</th>
	<th>Date Assigned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faculty_assignments.each do |faculty_assignment| %>
  <tr>
    <td><%= faculty_assignment.user_name %></td>
    <td><%= faculty_assignment.unit_code %> &ndash; <%= faculty_assignment.unit_name %></td>
	<td><%= faculty_assignment.created_at.to_date %></td>
    <td><%= link_to 'Show', faculty_assignment %></td>
    <td><%= link_to 'Edit', edit_faculty_assignment_path(faculty_assignment) %></td>
    <td><%= link_to 'Destroy', faculty_assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>