<h1>Listing faculty_assignments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faculty_assignments.each do |faculty_assignment| %>
  <tr>
    <td><%= faculty_assignment.user_id %></td>
    <td><%= faculty_assignment.unit_id %></td>
    <td><%= link_to 'Show', faculty_assignment %></td>
    <td><%= link_to 'Edit', edit_faculty_assignment_path(faculty_assignment) %></td>
    <td><%= link_to 'Destroy', faculty_assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Faculty assignment', new_faculty_assignment_path %>
