<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.select :title, [['Mr.'], ['Mrs.'], ['Ms.'], ['Miss'], ['Dr.']], :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :exam_location %><br />
    <%= f.select :exam_location, [['Canberra', 'CANDA'],
	['Coffs Harbour', 'CHBDN'],
	['Lismore', 'LISDN'],
	['Newcastle', 'NEWDN'],
	['Port Macquarie', 'PTMDN'],
	['Sydney', 'SYDDN'],
	['Sydney West', 'SYWDN'],
	['Wollongong', 'WOLDN', ''],
	['Alice Springs', 'ALIDY'],
	['Darwin', 'DARDY'],
	['Brisbane', 'BRIDQ'],
	['Cairns', 'CAIDQ'],
	['Gold Coast', 'GLCDQ'],
	['Mackay', 'MCKDQ'],
	['Rockhampton', 'ROCDQ'],
	['Sunshine Coast', 'SUNDQ'],
	['Toowoomba', 'TOODQ'],
	['Townsville', 'TOWDQ'],
	['Adelaide', 'ADEDS'],
	['Hobart', 'HOBDT'],
	['Launceston', 'LAUDT'],
	['Ballarat', 'BALDV'],
	['Bendigo', 'BENDV'],
	['Geelong', 'GEEV'],
	['Melbourne', 'MELDV'],
	['Warrnambool', 'WRRV']], :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :course_code %><br />
    <%= f.text_field :course_code, :size => 5 %>
  </div>
	<% if current_user.is_admin? %>
	  <div class="field">
	    <%= f.label :role, "Role" %><br />
	    <%= f.select :role, [['Student'], ['Faculty'], ['Administrator']] %>
	  </div>
	<% end %>
  <div class="field">
    <%= f.label :is_active, "Status" %><br />
    <%= f.select :is_active, [['Active', true], ['Suspended', false]] %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "cancel", :back %>
  </div>
<% end %>
