<% content_for :sidebar do %>
	<h2><%= @user.full_name %></h2>
	<ul>
		<li><%= link_to "User Details", @user %></li>
		<% if @user.is_student? %>
			<li><%= link_to "Enrollments", user_enrollments_path(@user) %></li>
		<% end %>
		<% if @user.is_faculty? && !@user.is_admin? %>
			<li><%= link_to "Faculty Assignments", user_faculty_assignments_path(@user) %></li>
		<% end %>
	</ul>
	<% if current_user.is_admin? %>
		<h2>Actions</h2>
		<%= link_to "Switch Users", users_path, :class => :button %>
		<%= link_to 'Delete User', @user, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
	<% end %>
	
<% end %>