<p id="notice"><%= notice %></p>

<h1><%= "#{@user.firstname} #{@user.lastname}" %></h1>

<dl>
	<dt>Email</dt>
    <dd><%= @user.email %></dd>

    <dt>Role</dt>
	<dd><%= @user.role %></dd>

    <dt>Status</dt>
	<dd><%= @user.status %></dd>

</dl>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
