<div class="trb">
	<%= link_to "Edit", edit_user_path(@user), :class => :button %>
</div>

<h1><%= @user.title %> <%= @user.full_name %></h1>

<dl>
	<dt>Email</dt>
    <dd><%= @user.email %></dd>

    <dt>Role</dt>
	<dd><%= @user.role %></dd>

    <dt>Status</dt>
	<dd><%= @user.status %></dd>
	
	<dt>Exam location</dt>
	<dd><%= @user.exam_location %></dd>
	
	<dt>Course code</dt>
	<dd><%= @user.course_code %></dd>
	
	<dt>Phone</dt>
	<dd><%= @user.phone %></dd>
	
	<dt>Mobile</dt>
	<dd><%= @user.mobile %></dd>
	
	<dt>Address</dt>
	<dd><%= simple_format(@user.address) %></dd>

</dl>

<%= render :partial => 'sidebar' %>