<table>
	<% if @user %>
		<% @units.each do |unit| %>
			<tr>
				<% if @enrollment.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

				      <ul>
				      <% @enrollment.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				<% @enrollment = @user.enrollments.build(:unit_id => unit.id) %>
				<%= form_for([@user, @enrollment]) do |f| %>
					<td>
						<%= unit.full_name %>
						<%= f.hidden_field :user_id %>
						<%= f.hidden_field :unit_id %>
					</td>
					<td>
						<%= unit.trimester %>
					</td>
					<td>
						<%= f.submit 'Create Enrollment', :class => :button %>
					</td>
				<% end %>
			</tr>
		<% end %>
	<% elsif @unit %>
		<% @users.each do |user| %>
			<tr>
				<% if @enrollment.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

				      <ul>
				      <% @enrollment.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				<% @enrollment = @unit.enrollments.build(:user_id => user.id) %>
				<%= form_for([@unit, @enrollment]) do |f| %>
					<td>
						<%= user.full_name %>
						<%= f.hidden_field :user_id %>
						<%= f.hidden_field :unit_id %>
					</td>
					<td>
						<%= user.role %>
					</td>
					<td>
						<%= f.submit 'Create Enrollment', :class => :button %>
					</td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>