<% content_for :sidebar do %>
	<h2><%= @enrollment.full_name %></h2>
	<ul>
		<li><%= link_to "Overview", @enrollment %></li>
		<li><%= link_to "Activity Attendance", enrollment_attendances_path(@enrollment) %></li>
		<li><%= link_to "Assessment Results", enrollment_performances_path(@enrollment) %></li>
	</ul>
	<h2>Actions</h2>
	<% if current_user.is_admin? %>
		<%= link_to "Switch Students", users_path(:scope => 'students'), :class => :button %>
		<%= link_to "Switch Units", units_path, :class => :button %>
	<% elsif current_user.is_faculty? %>
		<%= link_to "Switch Students", unit_enrollments_path(@enrollment.unit), :class => :button %>
		<%= link_to "Switch Units", user_faculty_assignments_path(current_user), :class => :button %>
	<% elsif current_user.is_student? %>
		<%= link_to "Switch Units", user_enrollments_path(current_user), :class => :button %>
	<% end %>
<% end %>