<% if current_user.is_admin? %>
	<% if @user %>
		<div class="trb">
			<%= link_to 'New Enrollment', new_user_enrollment_path(@user), :class => :button %>
		</div>
	<% elsif @unit %>
		<div class="trb">
			<%= link_to 'New Enrollment', new_unit_enrollment_path(@unit), :class => :button %>
		</div>
	<% end %>
<% end %>

<% if @user %>
	<h1>Enrollments for <%= @user.full_name %></h1>
<% elsif @unit %>
	<h1>Enrollments for <%= @unit.code %></h1>
<% end %>

<table>
<% @enrollments.each do |enrollment| %>
  <tr class='separator'>
	<% if @user %>
	<td>
		<span style='font-size: 16px; font-weight: bold; padding-right: 10px;'><%= enrollment.unit.code %></span>
	</td>
	<% end %>
    <td>
		<% if @user %>
			<%= enrollment.unit.name %><br />
			<%= enrollment.unit.trimester %>
		<% elsif @unit %>
			<strong><%= enrollment.user.full_name %></strong>
		<% end %>
	</td>
	<td><%= enrollment.created_at.strftime("Enrolled %e %B, %Y") %></td>
    <td class='actions'>
		<%= link_to 'View Enrollment', enrollment, :class => :button %>
		<% if current_user.is_admin? %>
			<%= link_to 'Delete', enrollment, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<% if @unit %>
	<%= render :partial => 'units/sidebar' %>
<% elsif @user %>
	<%= render :partial => 'users/sidebar' %>
<% end %>
