<% if @user %>
<div class="trb">
	<%= link_to 'New Enrollment', new_user_enrollment_path(@user), :class => :button %>
</div>
<% elsif @unit %>
<div class="trb">
	<%= link_to 'New Enrollment', new_unit_enrollment_path(@unit), :class => :button %>
</div>
<% end %>

<% if @user %>
<h1>Enrollments for <%= @user.full_name %></h1>
<% elsif @unit %>
<h1>Enrollments for <%= @unit.full_name %></h1>
<% end %>

<table>
  <tr>
    <th>Unit</th>
	<th>Date Enrolled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enrollments.each do |enrollment| %>
  <tr>
    <td>
		<% if @user %>
			<%= enrollment.unit.full_name %>
		<% elsif @unit %>
			<%= enrollment.user.full_name %>
		<% end %>
	</td>
	<td><%= enrollment.created_at.to_date %></td>
    <td class='actions'>
		<%= link_to 'View Enrollment', enrollment, :class => :button %>
		<%= link_to 'Delete', enrollment, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
	</td>
  </tr>
<% end %>
</table>

<% if @unit %>
	<%= render :partial => 'units/sidebar' %>
<% elsif @user %>
	<%= render :partial => 'users/sidebar' %>
<% end %>
