<div class="trb">
	<%= link_to 'New Enrollment', new_user_enrollment_path(@user), :class => :button %>
</div>

<h1>Enrollments for <%= @user.full_name %></h1>

<table>
  <tr>
    <th>Unit</th>
	<th>Date Enrolled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enrollments.each do |enrollment| %>
  <tr>
    <td><%= enrollment.unit_code %> &ndash; <%= enrollment.unit_name %></td>
	<td><%= enrollment.created_at.to_date %></td>
    <td class='actions'>
		<%= link_to 'View Enrollment', enrollment, :class => :button %>
		<%= link_to 'Delete', enrollment, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
	</td>
  </tr>
<% end %>
</table>