<h1>Enrollment Overview</h1>
<dl>
	<dt>Student</dt>
	<dd><%= link_to @enrollment.user.full_name, @enrollment.user %> </dd>
	<dt>Unit</dt>
	<dd><%= link_to @enrollment.unit.code, @enrollment.unit %></dd>
	<dt>Enrolled on</dt>
	<dd><%= @enrollment.created_at.strftime("%A, %e %B, %Y") %></dd>
</dl>

<h2>Notes</h2>
<% @enrollment.notes.each do |note| %>
	<% unless note.new_record? %>
		<div class='note'>
			<div class='note-content'>
				<%= simple_format(note.content) %>
			</div>
			<div class='note-information'>Posted <span><%= time_ago_in_words(note.created_at) %> ago</span> by <span><%= note.user.full_name %></span> | <%= link_to "Delete Note", note, :method => :delete, :confirm => "Are you sure?" %></div>
		</div>
	<% end %>
<% end %>
<%= render :partial => 'notes/form' %>

<%= render :partial => 'sidebar' %>
