<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :begins_at %><br />
    <%= f.date_select :begins_at, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.date_select :ends_at, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :term, "Trimester" %><br />
	<%= f.select :term, [[1], [2], [3]] %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "cancel", :back %>
  </div>
<% end %>
