<% if current_user.is_admin? %>
	<div class="trb">
		<%= link_to "Edit", edit_unit_path(@unit), :class => :button %>
	</div>
<% end %>

<h1><%= @unit.full_name %></h1>

<dl>
	<dt>Begins on</dt>
    <dd><%= @unit.begins_at.strftime("%A, %e %B") %></dd>
	<dt>Ends on</dt>
    <dd><%= @unit.ends_at.strftime("%A, %e %B") %></dd>
	<dt>Trimester</dt>
    <dd><%= @unit.trimester %></dd>
</dl>

<%= render :partial => 'sidebar' %>