<div class="trb">
	<%= link_to 'New Activity', new_unit_activity_path(@unit), :class => :button %>
</div>
<h1>Activities for <%= @unit.code %></h1>

<table>
<% @activities.each do |activity| %>
  <tr class='separator'>
    <td>
		<strong><%= activity.name %></strong><br />
		<%= activity.date.strftime("%A, %e %b %Y") %>
	</td>
	<td><%= activity.attendances.count %> / <%= activity.unit.enrollments.count %> students</td>
    <td class='actions'>
		<%= link_to 'View Attendance', activity_attendances_path(activity), :class => :button %>
		<%= link_to 'Edit', edit_activity_path(activity), :class => :button %>
		<%= link_to 'Delete', activity, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
	</td>
  </tr>
<% end %>
</table>

<%= render :partial => 'units/sidebar' %>