<div class="trb">
	<%= link_to 'New Activity', new_unit_activity_path(@unit), :class => :button %>
</div>
<h1>Activities for <%= @unit.code %></h1>

<table>
<% @activities.each do |activity| %>
  <tr class='separator'>
    <td><%= activity.name %></td>
    <td><%= activity.date.strftime("%A, %e %b %Y") %></td>
    <td class='actions'>
		<%= link_to 'View Activity', activity, :class => :button %>
		<%= link_to 'Delete', activity, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
	</td>
  </tr>
<% end %>
</table>

<%= render :partial => 'units/sidebar' %>