<h1>Listing activities</h1>

<%= link_to 'New Activity', new_unit_activity_path(@unit) %>

<table>
  <tr>
    <th>Unit</th>
    <th>Name</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.unit_id %></td>
    <td><%= activity.name %></td>
    <td><%= activity.date %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>