<h1>Attendances</h1>

<table>
	<% @activities.each do |activity| %>
		<tr class='separator'>
			<td><%= activity.name %></td>
		    <td><%= activity.date.strftime("%A, %e %b %Y") %></td>
			<td><%= attended_or_not(@enrollment, activity) %></td>
			<td class='actions'>
				<% if has_attended(@enrollment, activity) %>
					<%= link_to 'Remove Attendance', get_attendance(@enrollment, activity), :confirm => 'Are you sure?', :method => :delete, :class => :button %>
				<% else %>
					<% @attendance.activity_id = activity.id %>
					<%= render :partial => 'form' %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<%= render :partial => 'enrollments/sidebar' %>
