<%= form_for(@performance) do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% @performance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enrollment_id %><br />
    <%= f.text_field :enrollment_id %>
  </div>
  <div class="field">
    <%= f.label :assessment_id %><br />
    <%= f.text_field :assessment_id %>
  </div>
  <div class="field">
    <%= f.label :achieved_mark %><br />
    <%= f.text_field :achieved_mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
