<%= form_for(@performance, :url => performances_path(@performance, :from => @from, :from_id => @from_id)) do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% @performance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :enrollment_id %>
    <%= f.hidden_field :assessment_id %>
    <strong>Mark:</strong>
    <%= f.text_field :achieved_mark, :size => 4 %> / <%= @total_marks %>
    <%= f.submit 'Save' %>
<% end %>