<%= form_for(@form_object) do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% @performance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :enrollment_id %>
    <%= f.hidden_field :assessment_id %>
    <strong>Mark:</strong>
    <%= f.text_field :achieved_mark, :size => 4 %> / <%= @assessment.total_marks %>
    <%= f.submit 'Save' %> or <%= link_to 'cancel', :back %>
<% end %>