<h1>Listing performances</h1>

<table>
  <tr>
    <th>Enrollment</th>
    <th>Assessment</th>
    <th>Achieved mark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @performances.each do |performance| %>
  <tr>
    <td><%= performance.enrollment_id %></td>
    <td><%= performance.assessment_id %></td>
    <td><%= performance.achieved_mark %></td>
    <td><%= link_to 'Show', performance %></td>
    <td><%= link_to 'Edit', edit_performance_path(performance) %></td>
    <td><%= link_to 'Destroy', performance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Performance', new_performance_path %>