<h1>Assessment Performances</h1>

<table>
	<% @assessments.each do |assessment| %>
		<tr class='separator'>
			<td><%= activity.name %></td>
		    <td><%= activity.date.strftime("%A, %e %b %Y") %></td>
			<td><%= attended_or_not(@enrollment, activity) %></td>
			<td class='actions'>
				<% if has_attended(@enrollment, activity) %>
					<%= link_to 'Remove Attendance', get_attendance(@enrollment, activity), :confirm => 'Are you sure?', :method => :delete, :class => :button %>
				<% else %>
					<% @attendance.activity_id = activity.id %>
					<%= render :partial => 'form' %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<%= render :partial => 'enrollments/sidebar' %>



<h1>Listing performances</h1>

<table>
  <tr>
    <th>Enrollment</th>
    <th>Assessment</th>
    <th>Achieved mark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @performances.each do |performance| %>
  <tr>
    <td><%= performance.enrollment_id %></td>
    <td><%= performance.assessment_id %></td>
    <td><%= performance.achieved_mark %></td>
    <td><%= link_to 'Show', performance %></td>
    <td><%= link_to 'Edit', edit_performance_path(performance) %></td>
    <td><%= link_to 'Destroy', performance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
