<h1>Assessment Results</h1>

<table>
	<% @assessments.each do |assessment| %>
	<tr class='separator'>
	    <td>
			<strong><%= assessment.name %></strong><br />
			<%= assessment.due %>
		</td>
	    <td>
			Weight: <%= assessment.weight.to_i %>%<br />
			<%= assessment.total_marks.to_i %> Marks
		</td>
	    <td class='actions'>
			<% @performance = get_performance(@enrollment, assessment) %>
			<% if @performance %>
				<%= @performance.result %>
				<%= link_to 'Remove Result', @performance, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
			<% else %>
				<%= link_to "Enter Marks", new_performance_path(:assessment_id => assessment.id, :enrollment_id => @enrollment.id), :class => :button %>
			<% end %>
		</td>
	  </tr>
	<% end %>
</table>

<%= render :partial => 'enrollments/sidebar' %>