<% if @enrollment %>
	<h1>Assessment Results</h1>

	<table>
		<% @assessments.each do |assessment| %>
		<tr class='separator'>
		    <td>
				<strong><%= assessment.name %></strong><br />
				<%= assessment.due %>
			</td>
		    <td>
				Weight: <%= assessment.weight.to_i %>%<br />
				<%= assessment.total_marks.to_i %> Marks
			</td>
		    <td class='actions'>
				<% @performance = get_performance(@enrollment, assessment) %>
				<% if @performance %>
					<%= @performance.result %>
					<%= link_to 'Remove Result', @performance, :confirm => 'Are you sure?', :method => :delete, :class => :button %>
				<% else %>
					<%= link_to "Enter Marks", new_performance_path(:assessment_id => assessment.id, :enrollment_id => @enrollment.id, :from => 'enrollment'), :class => :button %>
				<% end %>
			</td>
		  </tr>
		<% end %>
	</table>

	<%= render :partial => 'enrollments/sidebar' %>
	
<% elsif @assessment %>
	
	<h1>Student Results for <%= @assessment.name %></h1>
	<h3><%= @assessment.due_at.strftime("Due on %A, %e %B, %Y") %></h3>

	<table>
		<% @enrollments.each do |enrollment| %>
		<tr class='separator'>
		    <td>
				<strong><%= enrollment.user.full_name %></strong>
			</td>
		    <td class='actions'>
				<% @performance = get_performance(enrollment, @assessment) %>
				<% if @performance %>
					<%= @performance.result %>
					<%= link_to 'Remove Result', @performance, :confirm => 'Are you sure?', :class => :button %>
				<% else %>
					<%= link_to "Enter Marks", new_performance_path(:assessment_id => @assessment.id, :enrollment_id => enrollment.id, :from => 'assessment'), :class => :button %>
				<% end %>
			</td>
		  </tr>
		<% end %>
	</table>

	<%= render :partial => 'units/sidebar' %>
<% end %>